@import "../../../../../styles/variables.module.scss";

.outlined {
  background-color: $white !important;
  border: 1px solid $pink-strong !important;
  color: $pink-strong !important;

  @media (max-width: 768px) {
    gap: 0;
    span {
      margin-left: 0;
      margin-right: 0;

      svg {
        font-size: 14px;
      }
    }
  }
}

.colorRed{
  label{
    color: $error;
  }
}

.promotionText{
  text-align: right;
  width: 100%;
  label{
    color: $brown;
  }
}