@import '../../styles/variables.module.scss';

.container {
  width: 100%;
  margin: 2rem auto;

  .button {
    margin: auto;
    margin-top: 1rem;
  }
}

.containerItemStock {
  // width: 100%;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;

  border-bottom: solid 1px $blue;
  cursor: pointer;
}

.itemStockContent {
  width: 100%;
  justify-content: space-between;
  label {
    color: $black;
  }

  &:hover {
    opacity: 0.9;
  }
}

.dialogContentContainer {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $pink-strong;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $pink;
  }
}

.backdropModalImages {
  background-color: $black;

  .modalImagesPaper {
    margin: 0;
    width: 100%;
    border-radius: 0;
    background-color: $black;
  }
}
