@import "../../styles/variables.module.scss";

button.button {
  margin-top: 24px;
  max-width: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  span{
    color: $white;
  }
  @media (max-width: 420px) {
    max-width: 100%;
  }
}
