$white: #ffffff;
$black: #000000;
$body: #d6dbdc;
$gray: #d6dbdc;
$primary: #64ff00;
$pink: #f91d8152;
$pink-strong: #f91d81;
$error: #d32f2f;
$blue: #069;
$brown: #800;

$fixedFooterHeigth: 40px;

:export {
  whiteColor: $white;
  blackColor: $black;
  primaryColor: $primary;
  bodyColor: $body;
  grayColor: $gray;
  pinkColor: $pink;
  pinkStrongColor: $pink-strong;
  errorColor: $error;
  blueColor: $blue;
  brownColor: $brown;
  
}
