@import "../../styles/variables.module.scss";

.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  .textKey {
    color: $blue;
    font-weight: bold;
  }
  
  &.showLines{
    border-bottom: solid 1px $blue;
  }

  &.vertical {
    display: block;
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }
  p {
    margin: 0;
  }
}
